/* angular ng-cloak */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* body */

body {
  background-color: #fff;
  color: #333;
  font-size: 14px;
}

a {
  color: #428bca;
}

a:hover,
a:focus {
  color: #2a6496;
}

/* navigator */

.navbar {
  text-transform: none;
}

.top-nav-collapse {
  background-color: rgba(255,255,255,.6);
}

.navbar-custom a {
  color: #555;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
   background-color: rgba(85,85,85,.1);
}


/* intro */
.intro {
  color: #555;
  background-image: none;
  background-color: #fff;
  text-transform: none;
}

.intro-text {
  font-size: 18px;
}

/* content */

h1,
h2,
h3,
h4,
h5,
h6{
    text-transform: none;
}

p {
  font-size: 16px;
}

/* custom parts */

.btn {
    text-transform: none;
}

.btn-default {
  color: #fff;
  border-color: #555;
  border-width: 2px;
  background-color: #555;
}

.btn-default:hover,
.btn-default:focus {
  color: #555;
  border-color: #999;
  border-width: 2px;
  background-color: #fff;
}

.btn-circle {
  color: #555;
  border-color: #555;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(85,85,85,1);
}

.download-section {
  color: #555;
  background: url(//files.slack.com/files-pri/T025H600K-F0275NB9N/haikmd_section_bg_02.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media(min-width:767px) {
  .content-section {
    padding-top: 150px;
  }
  .haikmde-editor {
    padding-top: 100px;
  }
}



/* Custom page footer */

.footer {
  font-size: 16px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 50px;
  padding: 20px 0;
  color: #555;
  border-top: 1px solid #e5e5e5;
}

.footer p{
  font-size: 16px;
}
