body{
-webkit-text-size-adjust:100%;
-webkit-font-smoothing:antialiased;
text-rendering:optimizeLegibility;
font-family:'ff-tisa-web-pro';
margin:0;
position:relative;
width:100%;
overflow-x:hidden;

}

/* Layout */
div.seperator{
width:40px;
height:3px;
background:#d2d2d2;
margin:15px auto 25px auto;
}
.dark div.seperator{
background:#313037;
}
#outer-wrapper{
width:100%;
position:absolute;
left:0;
top:0;
}
#next-wrapper{
width:100%;
height:5188px;
position:absolute;
background:#fff;
left:100%;
}

/* Navigation */

section#navigation{
position:relative;
z-index:999;
width:100%;
}
h1#logo a:link, h1#logo a:visited{
display:block;
height:41px;
width:130px;
overflow:hidden;
text-indent:-999999px;
background:url(../images/pluto-logo.svg);
margin:22px 0;
}
nav{
height:41px;
margin:22px 0;
}
nav ul{
list-style:none;
}
nav ul li{
display:inline;
}
nav ul li a.active{
opacity:1 !important;
}
nav ul li a:link, nav ul li a:visited{
display:block;
float:left;
height:12px;
padding:14px 0;
color:#fff;
font-family:'futura-pt', 'futura', sans-serif;
letter-spacing:2px;
text-transform:uppercase;
font-size:12px;
margin-left:40px;
opacity:.6;
/*transition*/
-webkit-transition:opacity, ease-in-out, 300ms;
   -moz-transition:opacity, ease-in-out, 300ms;
     -o-transition:opacity, ease-in-out, 300ms;
        transition:opacity, ease-in-out, 300ms;
}
nav ul li a:hover, nav ul li a:active, nav ul li a:focus{
opacity:1;
}