<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="" ng-click="scroll('#page-top')">
          <i class="fa fa-pencil-square-o"></i>  <span class="light">Start</span> haik Markdown
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li ng-repeat="viewname in Editor.views" ng-class="{active: isActive($index)}">
          <a href="" ng-click="preview(viewname)">{{ viewname }}</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<section class="content-section haikmde-editor" role="main">
  <div class="container">

    <button class="haikmd-fullscreen btn btn-haikmde-inline btn-xs" ng-click="setZen(true)"><span class="fa fa-expand text-muted"></span></button>

    <div class="textarea-wrap" ng-show="editorVisible">
      <div class="haikmde-tools btn-haikmde-toolbar" role="toolbar">
        <div class="btn-haikmde-group">
          <button ng-repeat="tool in Editor.tools" class="btn btn-haikmde" ng-click="insert(tool.name)">{{ tool.label }}</button>
        </div>
      </div>
      <textarea class="haikmde-textarea" ng-model="Editor.body" placeholder="Leave a comment" id="haikmde_textarea" data-exnote="onready"></textarea>
    </div>
  </div>

  <div class="fullscreen-overlay" ng-show="fullscreen">

    <div class="btn-haikmde-group-vertical  pull-right">
      <button class="btn-haikmde" ng-click="setZen(false)" ng-show="editorVisible"><span class="fa fa-compress text-muted"></span></button>
      <button class="btn-haikmde dropdown-toggle" data-toggle="dropdown"><span class="fa fa-eye text-muted"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="viewname in Editor.views" ng-class="{active: isActive($index)}" data-preview="{{viewname}}" ng-if="viewname!='Editor'">
          <a href="" ng-click="preview(viewname)">{{ viewname }}</a>
        </li>
      </ul>
    </div>

    <div class="fullscreen-container">
      <div class="textarea-wrap" ng-show="editorVisible">
        <textarea ng-model="Editor.body" placeholder="Leave a comment" id="haikmde_full_textarea" data-exnote="onready"></textarea>
      </div>
    </div>

  </div>
</section>


<div class="footer container">
  <p class="text-right"><i class="haikmde-love fa fa-heart"></i> from haik Markdown team</p>
</div>
